* {
  font-family: 'Montserrat', sans-serif;
}

.header {
  height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-divider, #DDD);
  background: var(--white, #FFF);
}

.logo {
  width: 70px;
  height: 70px;
  margin: 0 40px 0 0; 
}

.navigation {
  display: flex;
  gap: 32px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.navigation_item {
  text-decoration: none;
  color: var(--txt-black, #282828);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; 
}

.cart_button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 48px;
  height: 48px;
  margin: 0 40px 0 0;
  position: relative;
}


.circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #393;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;

  position: absolute;
  top: 7px;
  left: 0;
}


@media only screen and (max-width: 400px) {
  .header {
    height: auto;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .logo {
    margin-bottom: 16px;
    margin-right: 0; 
  }

  .navigation {
    flex-direction: column;
    gap: 12px;
    margin: 0;
  }

  .cart_button {
    margin-top: 16px;
    margin-right: 0; 
  }
}
